.globe-section{
    width: 100vw;  
    height: 150vh;
    background-color: rgb(243,243,243);
}
.globe-head{
    width: 30%;
    display: flex;
    justify-content: center;
}
.globe-para{
    font-family: 'Times New Roman', Times, serif;
    width: 55%;
    display: flex;
    justify-content: center;
    font-size: 17px;   
    line-height: 5vh;
}
.globe-items{
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.globe-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.black-box {
    transform: translate(680px, -1100px);   
    background-color: black;
    width: 50%;
    height: 60%;    
}
.arrow-buttons{

    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.carousel-control{
    height: 50px;
    margin-left: 5%;
    margin-right: 75%;
}
.arrow{
    background-color: transparent;
    border: none;
}

.sun-wind-path{
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.weather-txt{  
    color: #b6b1b1;
    font-size: 1rem;
}
.address{
    width: 50%;
    display: flex;
    justify-content: center;
}
.address-text{
    font-size: 1.1rem;
    color: rgb(173, 168, 168);
}
.main-address{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    color: gainsboro;
}
.coordinates{
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.coordinates-text{
    font-size: 1rem;
    color: rgb(231, 231, 231);
}
.black-box-image{
    
    transform: translate(1000px, -1700px);  
    height: 50%;
    width: 20%;
    overflow: hidden;
}
/* .carousel-inner{
    border: 20px solid red;
} */
@media only screen and (max-device-width:1024px) {
    .globe-section{
        height: 80%;
        width: 100%;
        overflow: hidden;
    }
    .black-box{   

        height: 40%;
        transform: translate(500px, -1100px); 
    }
    .black-box-image{
        transform: translate(800px, -1900px); 
        overflow:hidden; 
        height: 50%;
        object-fit: cover;
    }
    
}